body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../Documents/240_F_305293357_LVDpj7ZeqRbZFwBZvMFEksRsT0HJJP2U.jpg');
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input[type="number"] {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 24px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#price {
    margin-top: 20px;
}
